<option>Apple</option>
<option>Apricot</option>
<option>Avocado</option>
<option>Banana</option>
<option>Blackberry</option>
<option>Blackcurrant</option>
<option>Blueberry</option>
<option>Boysenberry</option>
<option>Cantaloupe</option>
<option>Cherry</option>
<option>Clementine</option>
<option>Coconut</option>
<option>Cranberry</option>
<option>Currant</option>
<option>Date</option>
<option>Dragonfruit</option>
<option>Durian</option>
<option>Elderberry</option>
<option>Feijoa</option>
<option>Fig</option>
<option>Gooseberry</option>
<option>Grape</option>
<option>Grapefruit</option>
<option>Guava</option>
<option>Hackberry</option>
<option>Honeydew</option>
<option>Huckleberry</option>
<option>Jackfruit</option>
<option>Jambul</option>
<option>Jujube</option>
<option>Juniperberry</option>
<option>Kiwano</option>
<option>Kiwi</option>
<option>Kumquat</option>
<option>Lemon</option>
<option>Lime</option>
<option>Longan</option>
<option>Loquat</option>
<option>Lychee</option>
<option>Mandarin</option>
<option>Mango</option>
<option>Mangosteen</option>
<option>Marionberry</option>
<option>Melon</option>
<option>Mulberry</option>
<option>Nance</option>
<option>Nectarine</option>
<option>Olive</option>
<option>Orange</option>
<option>Papaya</option>
<option>Passionfruit</option>
<option>Peach</option>
<option>Pear</option>
<option>Persimmon</option>
<option>Pineapple</option>
<option>Plantain</option>
<option>Plum</option>
<option>Pomegranate</option>
<option>Pomelo</option>
<option>Prune</option>
<option>Quince</option>
<option>Raisin</option>
<option>Rambutan</option>
<option>Raspberry</option>
<option>Redcurrant</option>
<option>Salak</option>
<option>Satsuma</option>
<option>Starfruit</option>
<option>Strawberry</option>
<option>Sugar Apple</option>
<option>Tamarillo</option>
<option>Tamarind</option>
<option>Tangerine</option>
<option>Tomato</option>
<option>Ugli Fruit</option>
<option>Watermelon</option>
<option>White Currant</option>
<option>Yuzu</option>
<option>Ziziphus</option>
<option>Acai</option>
<option>Acerola</option>
<option>Akee</option>
<option>Babaco</option>
<option>Bael</option>
<option>Barbadine</option>
<option>Bignay</option>
<option>Bilberry</option>
<option>Breadfruit</option>
<option>Calamansi</option>
<option>Canistel</option>
<option>Carambola</option>
<option>Cherimoya</option>
<option>Cloudberry</option>
<option>Cupuacu</option>
<option>Damson</option>
<option>Dewberry</option>
<option>Duku</option>
<option>Emu Apple</option>
<option>Finger Lime</option>
<option>Gac Fruit</option>
<option>Galia Melon</option>
<option>Genip</option>
<option>Grumichama</option>
<option>Hawthorn Berry</option>
<option>Indian Fig</option>
<option>Imbe</option>
<option>Jocote</option>
<option>Kaffir Lime</option>
<option>Kei Apple</option>
<option>Korlan</option>
<option>Langsat</option>
<option>Lanzones</option>
<option>Lilly Pilly</option>
<option>Lucuma</option>
<option>Madrono</option>
<option>Malay Apple</option>
<option>Mamey Sapote</option>
<option>Medlar</option>
<option>Miracle Fruit</option>
<option>Monstera</option>
<option>Mountain Apple</option>
<option>Muscadine</option>
<option>Naranjilla</option>
<option>Ogen Melon</option>
<option>Osage Orange</option>
<option>Pawpaw</option>
<option>Peumo</option>
<option>Pitanga</option>
<option>Pitaya</option>
<option>Pluot</option>
<option>Rose Apple</option>
<option>Safou</option>
<option>Serviceberry</option>
<option>Soursop</option>
<option>Surinam Cherry</option>
<option>Sweet Lemon</option>
<option>White Sapote</option>
<option>Yangmei</option>
<option>Yellow Passionfruit</option>
<option>Yunnan Hackberry</option>
<option>Zhe Fruit</option>
